<!DOCTYPE html>
<head>
  <title>Chrono capstone</title>
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/popper"></script>
<script src="https://unpkg.com/bootstrap"></script>
</head>

<body>
  {% block content %} 
  {% endblock %}

<!-- <iframe src="http://www.google.com/" width="500" height="375"></iframe> -->
<script src="http://unpkg.com/jquery"></script>
</body>
</html>