<!doctype html>
<html>
<head>
  <title>Chrono capstone</title>
  <script src="https://unpkg.com/jquery"></script>
</head>
<body>
<form action="/authorized"method="POST">
  <button>
    Authorize w/ Dr chrono
  </button>
</form>
<!-- <iframe src="http://www.google.com/" width="500" height="375"></iframe> -->
<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/api-classes.js"></script>
<script src="/static/ui.js"></script>
</body>
</html>